# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefile
!Makefile

# Object files
*.o
*.cgi

# CGI tester
!cgi_tester.cgi
!ubuntu_cgi_tester.cgi

# Executables
*.out
*.exe

# Debug files
*.dSYM/

# Mac folder files
.DS_Store

# VSCode files
.vscode

# CLion
.idea